[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/tutorialtest43
[access "refs/for/refs/*"]
	read = group user/tutorialtest43
	push = group user/tutorialtest43
	label-Code-Review = -2..+2 group user/tutorialtest43
	label-Verified = -1..+1 group user/tutorialtest43
	rebase = group user/tutorialtest43
	removeReviewer = group user/tutorialtest43
	submit = group user/tutorialtest43
	exclusiveGroupPermissions = label-Code-Review label-Verified
[access "refs/heads/*"]
	read = group user/tutorialtest43
	create = group user/tutorialtest43
	push = +force group user/tutorialtest43
	pushMerge = group user/tutorialtest43
[access "refs/tags/*"]
	push = group user/tutorialtest43
	push = +force group user/tutorialtest43
